<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>就业工作一体化管理服务系统</title>
    <link href="__PUBLIC__/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/lib/css/docs.min.css" rel="stylesheet">
    <link href="__PUBLIC__/lib/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
        queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://
    -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js">
    </script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
    </script>
    <![endif]-->
    <script src="__PUBLIC__/lib/js/jquery-2.1.4.min.js">
    </script>
    <script src="__PUBLIC__/lib/js/jquery.form.min.js">
    </script>
    <script src="__PUBLIC__/lib/js/bootstrap.min.js">
    </script>
    <script src="__PUBLIC__/lib/js/jquery.noty.packaged.min.js">
    </script>
</head>
<body>
<style type="text/css">
    .login-container-out {
        width: 100%;
        background: #573d7c;
    }
    .login-container-in {
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color:#573d7c;
        margin: 0 auto;
    }
    .login-container {
        height: 500px;
        background: url('__PUBLIC__/data/logo/{$config_group1.img_src_01}') center;
        background-repeat: no-repeat;
    }
</style>

<div class="header">
    <div class="login-container-in">
        <strong style="color:#fff">浏览器版本太低！请使用以下浏览器登录系统</strong>
        <p style="margin-top:10px;margin-bottom:15px">
            <a class="btn btn-warning" href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank">谷歌Chrome</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success" href="http://www.firefox.com.cn/" target="_blank">火狐Firefox</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success" href="http://www.maxthon.cn" target="_blank">遨游（极速模式）</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success" href="http://www.uc.cn" target="_blank">UC浏览器（极速模式）</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success" href="http://se.360.cn" target="_blank">360浏览器（极速模式）</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>

    </div>

</div>
<div class="container login-container-out">
    <div class="login-container">
    </div>
</div>

</body>
</html>